@model IEnumerable<NordicDoorSuggestionSystem.Entities.Suggestion>
@{
    Layout ="~/Views/Shared/_suggestionAll.cshtml";
 }
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
         <link rel="stylesheet" href="~/css/SuggestionCSS.css" asp-append-version="true" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>

<br>
<div class = "grid-container">
    <div class="left">
        <div class ="CreateButton">
        <button class ="button" >
                <a class ="Create" asp-action="Create">Nytt forslag</a>
        </button>
    </div>
    </div>
  <div class="middle">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tittel
                </th>
                <th>
                    Progress
                </th>
                <th>
                    Ansvarlig
                </th>
                <th>
                    Deadline
                </th>
                <th>
                    TeamID
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Progress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponsibleEmployee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamID)
                </td>
                <td class = "EDDrow">
                    <a asp-action="Edit" asp-route-id="@item.SuggestionID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SuggestionID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SuggestionID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
  </div>  
  <div class="right">
    <form asp-controller="Suggestion" asp-action="Index">
        <div class ="SearchField">
            <p>
                Søk etter Tittel: <input type="text" name="title" />
                <input type="submit" value="Søk" />
            </p>
        </div>
    </form>
  </div>
    <div class="footer">
            <ul>
                <li>
                    <button onclick="location.href='@Url.Action("MySuggestions","Suggestion")'">MINE FORSLAG</button>
                </li>
                <li>
                  <button onclick="location.href='@Url.Action("MittTeam","Administration")'">MITT TEAM</button>
                </li>
                <li>
                    <button onclick="location.href='@Url.Action("ShowStatisticsData","Statistics")'">STATISTIKK</button>
                </li>
            </ul>
    </div>
</div>
</body>
</html>