@model NordicDoorSuggestionSystem.Entities.Suggestion

@{
    Layout ="~/Views/Shared/_delete.cshtml";
    ViewBag.Title = "NSS | Slett Forslag";
}

<br>
<h3>Er du sikker på at du vil slette denne?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Problem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Problem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goal)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibleEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibleEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SuggestionID" />
        <input type="submit" value="Slett" class="btn btn-danger" />
    </form>
</div>
