@model NordicDoorSuggestionSystem.Entities.Suggestion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SuggestionEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Problem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Problem)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solution)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goal)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibleEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibleEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SuggestionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
