@model NordicDoorSuggestionSystem.Models.SuggestionDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SuggestionEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Problem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Problem)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solution)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goal)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibleEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibleEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SuggestionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@foreach (var c in Model.CommentsList)
{
    <hr />
    <div class="row">
        <i style="color: grey; font-size: 10px;">@c.CommentTime</i>
        <div class="col-md-3">
            <i>@c.Content</i>
        </div>
    </div>
}
<hr />

<a asp-action="AddComment" asp-route-id="@Model?.SuggestionID">Comment</a>
<br><br><br><br><br><br><br>
