@model IEnumerable<NordicDoorSuggestionSystem.Models.MySuggestionsViewModel>
@{
    Layout ="~/Views/Shared/_suggestionAll.cshtml";
 }
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
         <link rel="stylesheet" href="~/css/SuggestionCSS.css" asp-append-version="true" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>

<br>
<div class = "grid-container">
    <div class="left">
        <div class ="CreateButton">
        <button class ="button" >
            <a class ="Create" asp-action="Create">Nytt forslag</a>
        </button>
    </div>
    </div>
  <div class="middle">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tittel
                </th>
                <th>
                    Oppretter
                </th>
                <th>
                    Status
                </th>
                <th>
                    Ansvarlig
                </th>
                <th>
                    Tidsfrist
                </th>
                <th>
                    Team
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Progress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponsibleEmployee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td class = "EDDrow">
                    <a asp-action="Details" asp-route-id="@item.SuggestionID">Details</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    <br>
  </div>  
  <div class="right">
    <form asp-controller="Suggestion" asp-action="Index" method="get">
        <div class ="SearchField">
            <p>
                Søk etter Tittel: <input type="text" name="title" />
                <input type="submit" value="Søk" />
            </p>
        </div>
    </form>
  </div>
  <center>
      <div class="footer">
          <ul>
              <li>
                  <button onclick="location.href='@Url.Action("Create","Suggestion")'" id="add" class="fa fa-edit" style="font-size: 40px; border: none; font-weight:bold;"></button>
              </li>
          </ul>
          <ul>
              <li>
                  <button onclick="location.href='@Url.Action("MySuggestions","Suggestion")'" class="fa fa-archive"></button>
              </li>
          </ul>
          <ul>
              <li>
                  <button onclick="location.href='@Url.Action("MittTeam","Administration")'" class="fa">&#xf0c0;</button>
              </li>
          </ul>
          <ul>
              <li>
                  <button onclick="location.href='@Url.Action("ShowStatisticsData","Statistics")'" class=" fa fa-bar-chart"></button>
              </li>
          </ul>
      </div>
  </center>
</div>
</body>
</html>