@model IEnumerable<NordicDoorSuggestionSystem.Models.MySuggestionsViewModel>
@{
    Layout ="~/Views/Shared/_suggestion.cshtml";
    ViewBag.Title = "NSS | Mine Forslag";
 }
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
         <link rel="stylesheet" href="~/css/SuggestionCSS.css" asp-append-version="true" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>

<br>
<div class = "grid-container">
    <div class="left">
        <div class ="CreateButton">
            <button class ="button" >
                    <a class="Create" asp-controller="Suggestion" asp-action="CreatedSuggestions">Gå til <br> Lagde Forslag</a>
            </button>        
    </div>
</div>
<div class="middle">
    <table class="table" id="createdTable">

        <thead>
            <tr>
                <th>
                    <i>Tittel</i>
                </th>
                <th>
                    <i>Oppretter</i>
                </th>
                <th>
                    <i>Status</i>
                </th>
                <th>
                    <i>Ansvarlig</i>
                </th>
                <th>
                    <i>Frist</i>
                </th>
                <th>
                    <i>Team</i>
                </th>
            </tr>
        </thead>
        @foreach (var item in Model) {
            <tbody class="showableTable" id="createdTable">
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maker)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Progress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResponsibleEmployee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deadline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td class="EDDrow">
                        <a asp-action="Edit" asp-route-id="@item.SuggestionID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SuggestionID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SuggestionID">Delete</a>
                    </td>
                </tr>
            </tbody>              

        }            
    </table>

</div>  
    <div class="right">
        <form asp-controller="Suggestion" asp-action="MySuggestions" method="get">

        <div class ="SearchField">
            <p>
                Søk etter Tittel: <input type="text" name="title" />
                <input type="submit" value="Søk" />
            </p>
        </div>
        </form>
    </div>
    <div class="footer">
        <ul>
            <li>
                <button onclick="location.href='@Url.Action("Create","Suggestion")'" id="add" class="fa fa-edit" style="font-size: 40px; border: none; font-weight:bold;"></button>
            </li>
        </ul>
        <ul>
            <li>
                <button onclick="location.href='@Url.Action("MySuggestions","Suggestion")'" class="fa fa-archive"></button>
            </li>
        </ul>
        <ul>
            <li>
                <button onclick="location.href='@Url.Action("MittTeam","Administration")'" class="fa">&#xf0c0;</button>
            </li>
        </ul>
        <ul>
            <li>
                <button onclick="location.href='@Url.Action("ShowStatisticsData","Statistics")'" class=" fa fa-bar-chart"></button>
            </li>
        </ul>
    </div>
</div>
</body>
</html>