@model NordicDoorSuggestionSystem.Models.EditTeamMemberViewModel

@{
    Layout ="~/Views/Shared/_organize.cshtml";
    ViewBag.Title = "NSS | Endre Team Medlemmer";
}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Sortable - Connect lists</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
   
  .box{
    border: 1px solid black;
    width: 16%;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
  }
  .nullbox{
    border: 1px solid black;
    width: 20%;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
  }

  .box h4{
    width: 100%;
    text-align: center;
  }

  .nullbox h4{
    width: 100%;
    text-align: center;
  }

  #sortable1 {
    list-style-type: none;
    width: 100%;
    min-height: 300px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  #sortable2 {
    list-style-type: none;
    width: 100%;
    min-height: 640px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  #sortable1 li, #sortable2 li {
    font-size: 1.2em;
    text-align: center;
  }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#sortable1, #sortable2" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  } );
  </script>
</head>
<body>

<br>
  <h2>Organiser Teams</h2>

<form asp-action="EditTeamMembers" method="post">
    <div class="nullbox">
        <h4 style="text-align: center;">Uten Team</h4>
        <ul id="sortable2" class="connectedSortable">
        @for (int k = 0; k < Model.EmployeeList.Count(); k++)
        {
            @if (Model.EmployeeList[k].TeamID == null && Model.EmployeeList[k].Role != "Team Leder")
            {
                <li class="ui-state-default">
                    @Model.EmployeeList[k].FirstName @Model.EmployeeList[k].LastName
                    <input type="hidden" asp-for="@Model.EmployeeList[k].EmployeeNumber" />
                    <input type="hidden" asp-for="@Model.EmployeeList[k].FirstName" />
                    <input type="hidden" asp-for="@Model.EmployeeList[k].LastName" />
                    <input asp-for="@Model.EmployeeList[k].TeamID" class="form-control" id="teamX"/>
                </li>
            }
            else if (Model.EmployeeList[k].TeamID == null && Model.EmployeeList[k].Role == "Team Leder")
            {
                <li class="ui-state-default">
                    <i>Team Leder</i>
                    <br>
                    @Model.EmployeeList[k].FirstName @Model.EmployeeList[k].LastName
                    <input type="hidden" asp-for="@Model.EmployeeList[k].EmployeeNumber" />
                    <input type="hidden" asp-for="@Model.EmployeeList[k].FirstName" />
                    <input type="hidden" asp-for="@Model.EmployeeList[k].LastName" />
                    <input type="hidden" asp-for="@Model.EmployeeList[k].TeamID" class="form-control" id="teamX"/>
                </li>
            }
        }
        </ul>
    </div>
    @for (var i = 0; i < Model.TeamList.Count(); i++)
    {
        <div class="box" id="@Model.TeamList[i].TeamID">
                <h4 style="text-align: center;">Team Navn: @Model.TeamList[i].TeamName</h4>
                <h3 style="text-align: center;">ID: @Model.TeamList[i].TeamID</h3>
            <ul id="sortable1" class="connectedSortable">
            @*<input type="hidden" asp-for="@Model.TeamList[i].TeamID" />*@
            @for (var j = 0; j < Model.EmployeeList.Count(); j++)
            {
                if (Model.TeamList[i].TeamLeader == Model.EmployeeList[j].EmployeeNumber)
                {
                     <li class="ui-state-default">
                        <i>Team Leder</i>
                        <br>
                        @Model.EmployeeList[j].FirstName @Model.EmployeeList[j].LastName
                        <input type="hidden" asp-for="@Model.EmployeeList[j].EmployeeNumber" />
                        <input type="hidden" asp-for="@Model.EmployeeList[j].FirstName" />
                        <input type="hidden" asp-for="@Model.EmployeeList[j].LastName" />
                        <input type="hidden" asp-for="@Model.EmployeeList[j].TeamID" class="form-control" id="teamX"/>
                    </li>       
                }
                else if (Model.TeamList[i].TeamID == Model.EmployeeList[j].TeamID && Model.EmployeeList[j].Role != "Team Leder")
                {
                    <li class="ui-state-default">
                        @Model.EmployeeList[j].FirstName @Model.EmployeeList[j].LastName
                        <input type="hidden" asp-for="@Model.EmployeeList[j].EmployeeNumber" />
                        <input type="hidden" asp-for="@Model.EmployeeList[j].FirstName" />
                        <input type="hidden" asp-for="@Model.EmployeeList[j].LastName" />
                        <input asp-for="@Model.EmployeeList[j].TeamID" class="form-control" id="teamX"/>
                    </li>
                }
            }
        </ul>
    </div>
    }
    <br>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-success" style="float: right;"/>
    </div>
</form>
 
</body>
</html>