@using NordicDoorSuggestionSystem.Entities
@using NordicDoorSuggestionSystem.Models.Administrate
@model List<TeamsViewModel>

@{
    Layout ="~/Views/Shared/_team.cshtml";
}

<br>
<h1>Teams</h1>

<a asp-action="CreateTeam" asp-controller="Administration" class="btn btn-success" >Lag Nytt Team</a>
<a asp-action="EditTeamMembers" asp-controller="Administration" class="btn btn-info">Velg Team Medlemmer</a>
<br><br>

<table class="table">
    <thead>
        <tr>
            <th>
                <i>Teamnavn</i>
            </th>
            <th>
                <i>Teamleder</i>
            </th>
            <th>
                <i>Forslag</i>
            </th>
            <th>
                <i>Avdeling</i>
            </th>
            <th></th>
        </tr>
    </thead>

@if(Model.Any())
{
        <tbody>
            @foreach (var team in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => team.TeamName)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => team.TeamLeader)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => team.TeamSgstnCount)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => team.DepartmentName)
                    </th>
                    <td>
                        <div style="display:flex; flex-direction:row;">
                            <form asp-action="EditTeam" asp-controller="Administration" asp-route-id="@team.TeamID" method="get">
                                <button type="submit" class="btn btn-outline-primary">Endre</button>
                            </form>
                            <form asp-action="DetailsMembers" asp-controller="Administration" asp-route-id="@team.TeamID" method="get">
                                <button type="submit" class="btn btn-outline-primary" style="margin-left:5px;">Medlemmer</button>
                            </form>
                            <form asp-action="DeleteTeam" asp-controller="Administration" asp-route-id="@team.TeamID" method="get">
                                <button onclick="return confirm('Er du sikker du vil slette dette teamet: @team.TeamName')" type="submit" class="btn btn-outline-danger" style="margin-left:5px;">Slett</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
} else {
    <h2>Systemet har ingen team</h2>
}
</table>