@using NordicDoorSuggestionSystem.Entities
@model IEnumerable<User>
@{
    Layout ="~/Views/Shared/_team.cshtml";
}

<br>
<h1>Administrer brukere</h1>

<a asp-action="Register" asp-controller="Account" class="btn btn-success" >Legg til ny bruker</a>
<a asp-action="EditTeamMembers" asp-controller="Administration" class="btn btn-info">Legg til bruker i Team</a>
<br><br>

<table class="table">
    <thead>
        <tr>
            <th>
                Ansattnummer
            </th>
            <th>
                Fornavn
            </th>
            <th>
                Etternavn
            </th>
            <th>
                Kontotype
            </th>
        </tr>
    </thead>

@if(Model.Any())
{
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => user.EmployeeNumber)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => user.FirstName)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => user.LastName)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => user.Role)
                    </th>                    
                    <td>
                        <div style="display:flex; flex-direction:row;">
                            <form asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id" method="get">
                                <button type="submit" class="btn btn-outline-primary">Endre</button>
                            </form>                        
                            <form asp-action="DeleteUser" asp-controller="Administration" asp-route-id="@user.Id" method="get">
                                <button onclick="return confirm('Er du sikker du vil slette denne brukeren: @user.LastName, @user.FirstName')" type="submit" class="btn btn-outline-danger" style="margin-left:5px;">Slett</button>
                            </form>
                        </div>                        
                    </td>
                </tr>
            }
        </tbody>
} else {
    <h2>Systemet har ingen brukere</h2>
}
</table>
