@using NordicDoorSuggestionSystem.Entities
@model IEnumerable<User>
@{
    ViewBag.Title = "All Users";
}
@{
    ViewData["Title"] = "Brukere";
}

<h1>@ViewData["Title"].</h1>

<a asp-action="Register" asp-controller="Account" class="btn bnt-primary mb-3" style="width:auto">Lag Ny Bruker</a>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
        </tr>
    </thead>
@if(Model.Any())
{
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => user.Id)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => user.EmployeeNumber)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => user.LastName)
                        <i>, </i>
                        @Html.DisplayFor(modelItem => user.FirstName)
                    </th>
                    <td>
                        <a asp-action="EditUser" asp-controller="Administration" class="btn btn-primary" asp-route-id="@user.Id">Edit</a>
                    </td>
                    <td>
                        <form asp-action="DeleteUser" asp-controller="Administration" asp-route-id="@user.Id" method="post">
                            <button onclick="return confirm('Er du sikker du vil slette denne brukeren: @user.LastName, @user.FirstName')" type="submit" class="btn btn-danger btn-sm">Slett</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>

} else {
    <h2>Systemet har ingen brukere</h2>
}
</table>

