@using NordicDoorSuggestionSystem.Models.Employee
@model EmployeeAccountViewModel
<h3>Rediger registrerte brukere</h3>
@if(Model.EmployeeNumber!=null)
{
    <form asp-action="save" asp-controller="users" method="post">
        <ul>
            <li>
                <label for="FirstName">Fornavn</label>
                <input type="text" name="FirstName" value="@Model.FirstName" />
            </li>
            <li>
                <label for="LastName">Etternavn</label>
                <input type="text" name="LastName" value="@Model.LastName" />
            </li>
            <li>
                <label for="EmployeeNumber">Ansattnummer</label>
                <input type="text" name="EmployeeNumber" value="@Model.EmployeeNumber" />
            </li>
            <li>
                <label for="Role">Rolle</label>
                <input type="text" name="Role" value="@Model.Role" />
            </li>
        <li>
            <label for="Role">Sett som Administrator</label>
                <input asp-for="@Model.IsAdmin"/>
        </li>
        <!-- <li>
            <label for="Teamleder">Sett som Teamleder</label>
                <input asp-for=""/>
        </li>
        <li>
            <label for="Ansatt">Sett som Ansatt</label>
                <input asp-for=""/>
        </li>
            <li>
                <input type="submit" value="Lagre" />
            </li> -->
        </ul>
    </form>
}
<table>
    <tr>
        <td>FirstName</td>
        <td>LastName</td>
        <td>EmployeeNumber</td>
        <td>Role</td>
    </tr>
    @foreach (var employee in Model.Employees)
    {
        <tr>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.EmployeeNumber</td>
            <td>@employee.Role</td>
            <td>
                <form asp-action="delete" asp-controller="users" method="post">
                    <input type="hidden" name="EmployeeNumber" value="@employee.EmployeeNumber" />
                    <input type="submit" value="Slett" />
                </form>
            </td>
            <td>
                <form asp-action="index" asp-controller="users" method="get">
                    <input type="hidden" name="EmployeeNumber" value="@employee.EmployeeNumber" />
                    <input type="submit" value="Endre" />
                </form>
            </td>
        </tr>
    }
</table>
