@model NordicDoorSuggestionSystem.Models.Employees.ProfileViewModel

@{
    ViewBag.Title = "NSS | Profil";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}


<center>
    <div id="cardContainer" class="cardContainer">
        <div class="card">
            <div class="cardPicture">
                @if (Model.ProfilePicture != null)
                {
                     <img style="width:125px; height: 125px;"src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.ProfilePicture))" />
                }
                else  {<i class="fa fa-user" style="font-size:75px; color: grey;"></i>}
          
            </div>
            <div class="cardHeader">
                
                <label>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</label>
            </div>
            <div class="cardProfileInfo">
                <p>Ansatt nr: <label>@Html.DisplayFor(model => model.EmployeeNumber)</label> </p>
                <p>Rolle: <label>@Html.DisplayFor(model => model.Role)</label> </p>
                <p>Team: <label>@Html.DisplayFor(model => model.TeamName)</label> </p>
            </div>
            <div>
                <form asp-controller="ProfilePage" asp-action="UploadProfilePicture" method="post" enctype="multipart/form-data">
                    <input asp-for="EmployeeNumber" type="hidden"  />
                    <input asp-for="FirstName" type="hidden"  />
                    <input asp-for="LastName" type="hidden"  />
                    <input asp-for="TeamID" type="hidden"  />
                    <input asp-for="Role" type="hidden"  />
                    <input asp-for="NewProfilePicture" type="file" onchange="filecheck(this)" />
                    <input type="Submit" value="Submit" />
                </form>
 
            </div>
            <div class="showMyStats">
                <center>
                    <div class="stats">
                          <div class="present">
                            <div class="lid">
                                <span></span>
                            </div>
                        <div class="promo">
                            <p>DU HAR</p>
                            <h2>@Html.DisplayFor(model => model.CreatedSuggestions) Forslag!</h2>
                        </div>
                        <div class="box">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</center>




